name: Migrations

on:
  push:
    branches:
      - main
      - dev

jobs:
  run-migrations:
    runs-on: ubuntu-latest
    environment: ${{
                  github.ref_name == 'main' && 'Production'
                  ||                           'Preview'
                  }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      
      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
      
      - name: Install dependencies
        run: npm ci
      
      - name: Run Prisma Migrations
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
          DIRECT_URL: ${{ secrets.DIRECT_URL }}
        run: npx prisma migrate deploy
